<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/index/angular.min.js' %}"></script>
    <script src="{% static 'js/index/moment-with-locales.js' %}"></script>
    <script src="{% static 'js/index/Chart.min.js' %}"></script>
    <script src="{% static 'js/pmp/pmp.app.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pmp/main.css' %}" />
    <meta charset="UTF-8">
    <title>Deal Views</title>
</head>
<body>

<div class="baserow" ng-app="pmpApp" ng-controller="pmpController">
    <div class="basecol-2"></div>
    <div class="basecol-4">
        Owner:
        <select name="owner" ng-change="filterOwner()" ng-model="owner">
            {% for owner in owners %}
            <option value="{{ owner }}">{{ owner }}</option>
            {% endfor %}
        </select>
        <br />DSP:
        <select name="dsp_id" ng-change="plotCharts()" ng-model="dsp">
            {% for dsp in dsps %}
            <option value="{{ dsp }}">{{ dsp }}</option>
            {% endfor %}
        </select>
        <ul>
            {{ owner }}
            {% for deal in deals %}
            <li>
                <a href="/pmp{% if owner != None %}/{{ owner }}{% endif %}/{{ deal.0 }}/">
                    {{ deal.0 }}
                    <br />{{ deal.1 }}
                </a>
            </li>
            <br />
            {% endfor %}
        </ul>
    </div>
    <div class="basecol-12">
        Stats for Deal {{ deal }}
        <!-- <table>
            <tr>
                <th> - </th>
                <th> - </th>
                <th colspan="3">Deal NoBids</th>
                <th colspan="2">Deal Bids</th>
            </tr>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
                <th>Count</th>
                <th>Percent</th>
                <th>Percent Bid On Different Deal</th>
                <th>Count</th>
                <th>Percent</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ item.key }}</td>
                <td>{{ item.attribute }}</td>
                <td>{{ item.nobids_count }}</td>
                <td>{{ item.nobids_percent }}</td>
                <td>{{ item.percent_other_deal_bids }}</td>
                <td>{{ item.bids_count }}</td>
                <td>{{ item.bids_percent }}</td>
            </tr>
            {% endfor %}
        </table> -->
        <div class="baserow">
            <div class="basecol-20">
                <h1>API</h1>
                <div><canvas id="bids-api"></canvas></div>
                <h1>Blocked Attribute</h1>
                <div><canvas id="bids-battr"></canvas></div>
                <h1>Max Duration</h1>
                <div><canvas id="bids-maxduration"></canvas></div>
                <h1>Min Duration</h1>
                <div><canvas id="bids-minduration"></canvas></div>
                <h1>Mime</h1>
                <div><canvas id="bids-mime"></canvas></div>
                <h1>Size</h1>
                <div><canvas id="bids-size"></canvas></div>
                <h1>Position</h1>
                <div><canvas id="bids-pos"></canvas></div>
                <h1>Protocol</h1>
                <div><canvas id="bids-protocol"></canvas></div>
            </div>
            <div class="basecol-20">
                <h1>API</h1>
                <div><canvas id="nobids-api"></canvas></div>
                <h1>Blocked Attribute</h1>
                <div><canvas id="nobids-battr"></canvas></div>
                <h1>Max Duration</h1>
                <div><canvas id="nobids-maxduration"></canvas></div>
                <h1>Min Duration</h1>
                <div><canvas id="nobids-minduration"></canvas></div>
                <h1>Mime</h1>
                <div><canvas id="nobids-mime"></canvas></div>
                <h1>Size</h1>
                <div><canvas id="nobids-size"></canvas></div>
                <h1>Position</h1>
                <div><canvas id="nobids-pos"></canvas></div>
                <h1>Protocol</h1>
                <div><canvas id="nobids-protocol"></canvas></div>
            </div>
        </div>
    </div>
    <div class="basecol-2"></div>
</div>

</body>
</html>