<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ kind }} Attribute Summary</title>
</head>
<body>

<h2>{{ kind }} Attribute Summary</h2>

<a href="/pmp/{{ kind }}/graph/">Go To Graphs</a>
<table>
    {% if kind == 'video' %}
    <tr>
        <th style="border: 1px solid black;">Deal ID</th>
        <th style="border: 1px solid black;">DSP ID</th>
        <th style="border: 1px solid black;">Deal Bid</th>
        <th style="border: 1px solid black;">API</th>
        <th style="border: 1px solid black;">Blocked Attribute</th>
        <th style="border: 1px solid black;">Min Duration</th>
        <th style="border: 1px solid black;">Mime</th>
        <th style="border: 1px solid black;">Position</th>
        <th style="border: 1px solid black;">Protocol</th>
    </tr>
    {% for entry in data %}
    <tr>
        {% if forloop.counter|add:1|divisibleby:2 %}
        <td rowspan="2" style="border: 1px solid black;">{{ entry.deal_id }}</td>
        <td rowspan="2" style="border: 1px solid black;">{{ entry.dsp_id }}</td>
        {% endif %}
        <td style="border: 1px solid black;">{{ entry.deal_bid }}</td>
        <td style="border: 1px solid black;">{{ entry.api|safe }}</td>
        <td style="border: 1px solid black;">{{ entry.battr|safe }}</td>
        <td style="border: 1px solid black;">{{ entry.minduration }}</td>
        <td style="border: 1px solid black;">{{ entry.mime|safe }}</td>
        <td style="border: 1px solid black;">{{ entry.pos|safe }}</td>
        <td style="border: 1px solid black;">{{ entry.protocol|safe }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <th style="border: 1px solid black;">Deal ID</th>
        <th style="border: 1px solid black;">DSP ID</th>
        <th style="border: 1px solid black;">Deal Bid</th>
        <th style="border: 1px solid black;">API</th>
        <th style="border: 1px solid black;">Blocked Attribute</th>
        <th style="border: 1px solid black;">Mime</th>
        <th style="border: 1px solid black;">Position</th>
    </tr>
    {% for entry in data %}
    <tr>
        {% if forloop.counter|add:1|divisibleby:2 %}
        <td rowspan="2" style="border: 1px solid black;">{{ entry.deal_id }}</td>
        <td rowspan="2" style="border: 1px solid black;">{{ entry.dsp_id }}</td>
        {% endif %}
        <td style="border: 1px solid black;">{{ entry.deal_bid }}</td>
        <td style="border: 1px solid black;">{{ entry.api|safe }}</td>
        <td style="border: 1px solid black;">{{ entry.battr|safe }}</td>
        <td style="border: 1px solid black;">{{ entry.mime|safe }}</td>
        <td style="border: 1px solid black;">{{ entry.pos|safe }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

</body>
</html>