* {
    box-sizing: border-box;
}

.baserow {
    display: flex;
}

.baserow:after {
    content: "";
    clear: both;
    display: block;
}

.basecol-1 {width: 5%;}
.basecol-2 {width: 10%;}
.basecol-3 {width: 15%;}
.basecol-4 {width: 20%;}
.basecol-5 {width: 25%;}
.basecol-6 {width: 30%;}
.basecol-7 {width: 35%;}
.basecol-8 {width: 40%;}
.basecol-9 {width: 45%;}
.basecol-10 {width: 50%;}
.basecol-11 {width: 55%;}
.basecol-12 {width: 60%;}
.basecol-13 {width: 65%;}
.basecol-14 {width: 70%;}
.basecol-15 {width: 75%;}
.basecol-16 {width: 80%;}
.basecol-17 {width: 85%;}
.basecol-18 {width: 90%;}
.basecol-19 {width: 95%;}
.basecol-20 {width: 100%;}

[class*="basecol-"] {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

#graph {
    width: 100%;
    height: 900px;
}
