<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/index/Chart.min.js' %}"></script>
    <script src="{% static 'js/index/angular.min.js' %}"></script>
    <script src="{% static 'js/filters/filter.render.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/filters/main.css' %}" />
    <meta charset="UTF-8">
    <title>Funnel</title>
</head>
<body>

<h2>Funnel</h2>

<div ng-app="funnelApp" ng-controller="funnelController">
    {% verbatim %}
    Search For Deal: <input type="input" ng-model="search" ng-change="searchFunction()" />
    <table>
        <tr>
            <th>Field</th>
            <th>Requests</th>
        </tr>
        <tr ng-repeat="field in data.ordinal track by $index">
            <td>{{ field }}</td>
            <td>{{ data.percent[$index] }}%</td>
        </tr>
    </table>
    <div class="pmpFunnel">
        <canvas id="pmpFunnel"></canvas>
    </div>
    {% endverbatim %}
</div>

</body>
</html>