<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/index/angular.min.js' %}"></script>
    <script src="{% static 'js/index/moment-with-locales.js' %}"></script>
    <script src="{% static 'js/index/Chart.min.js' %}"></script>
    <script src="{% static 'js/index/index.app.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/main.css' %}" />
    <meta charset="UTF-8">
    <title>Deal Views</title>
</head>
<body>

<div class="baserow" ng-app="pmpApp">
    <div class="basecol-2"></div>
    <div class="basecol-18" ng-controller="pmpController">
        <div class="baserow">
            <div class="basecol-20">
                {% verbatim %}
                <div ng-repeat="(key, value) in filterOptions">
                    {{ key }}: <select ng-options="item for item in value" ng-model="selected[key]" ng-change="changeFilter()"></select>
                </div>
                {% endverbatim %}
                <input type="submit" value="Create Graph" ng-click="plotData()" /> <input type="submit" value="Clear Filters" ng-click="clearSelected()" />
            </div>
        </div>
        <div class="baserow">
            <div class="basecol-20">
                <canvas id="graph" style="border: 1px solid black;"></canvas>
            </div>
        </div>
    </div>
    <div class="basecol-2"></div>
</div>

</body>
</html>