<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/main.css' %}" />
    <meta charset="UTF-8">
    <title>Deal Views</title>
</head>
<body>

<div class="baserow" ng-app="pmpApp">
    <div class="basecol-2"></div>
    <div class="basecol-18" ng-controller="pmpController">
        <div class="baserow">
            <div class="basecol-20">
                <h2>Site Map</h2>
                <ul>
                    <li><a href="/gen/managed-open-ctr/">Open vs Managed CTR</a></li>
                    <li>PMP
                        <ul>
                            <li><a href="/gen/pmp-performance/">Overall PMP Performance</a></li>
                            <li><a href="/pmp/banner/">Banner Attribute Stats</a></li>
                            <li><a href="/pmp/video/">Video Attribute Stats</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="basecol-2"></div>
</div>

</body>
</html>